/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 800px;
/*    position: relative;*/
/*    padding-bottom: 50%;*/  /*Ratio 16:9 ( 100%/16*9 = 56.25% )*/
}

#placesList {
    height: 800px;
    color: white;
    padding-left: 50px;
/*    position: relative;*/
/*    padding-bottom: 50%;*/
}

.blackBackground {
    background-color: rgb(53, 55, 61);
}
/* Optional: Makes the sample page fill the window. */
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/