/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


#placesList {
/*    height: 50%;*/
    border-radius: 25px;
    position: absolute;
    margin-top: 50px;
    margin-left: 2%;
    max-height: 100%;
    overflow: auto;
}

.blackBackground {
    background-color: black;/*rgb(53, 55, 61);*/
    color: white;
    opacity: 0.8;
}

.markerItem:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
}